.body {
    background: #000000;
    color: white;
    padding: 36px 16px;
}

.header {
    border-bottom: 1px solid #efefef;
    margin: 0px;
}

.title {
    color: #ffff00;
    font-size: 2rem;
}

.input-class {
    border-bottom: 1px solid #efefef;
    color: #efefef;
}

.input-class:focus {
    outline: none;
}